.button-container {
  text-align: center;
}

.button-container > button {
  margin: 0;
  padding: 10px 18px;
  color: white;
  background-color: #008000;
  border: none;
  border-radius: 3px;
  transition: all 200ms ease-in-out;
  font-size: 14px;
}

.button-container > button:hover {
  background-color: #00a000;
}

.button-container > button:active {
  background-color: #006000;
}
